@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: 100;
  src: url(/font/iranyekanwebthin.612285dc.eot);
  src: url(/font/iranyekanwebthin.612285dc.eot) format('embedded-opentype'),
    url(/font/iranyekanwebthin.4672fc69.woff) format('woff'),
    url(/font/iranyekanwebthin.0d88b7bd.ttf) format('truetype');
}
@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: 300;
  src: url(/font/iranyekanweblight.dd0fc0f0.eot);
  src: url(/font/iranyekanweblight.dd0fc0f0.eot) format('embedded-opentype'),
    url(/font/iranyekanweblight.1225b31b.woff2) format('woff2'),
    url(/font/iranyekanweblight.069074f8.woff) format('woff'),
    url(/font/iranyekanweblight.deb03d0d.ttf) format('truetype');
}
@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: 400;
  src: url(/font/iranyekanwebregular.0f8cf57b.eot);
  src: url(/font/iranyekanwebregular.0f8cf57b.eot) format('embedded-opentype'),
    url(/font/iranyekanwebregular.e31c09af.woff2) format('woff2'),
    url(/font/iranyekanwebregular.534fe99e.woff) format('woff'),
    url(/font/iranyekanwebregular.1d0667f5.ttf) format('truetype');
}
@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: 500;
  src: url(/font/iranyekanwebmedium.05f9bbc0.eot);
  src: url(/font/iranyekanwebmedium.05f9bbc0.eot) format('embedded-opentype'),
    url(/font/iranyekanwebmedium.2d4f96e5.woff) format('woff'),
    url(/font/iranyekanwebmedium.bae5f862.ttf) format('truetype');
}
@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: 700;
  src: url(/font/iranyekanwebbold.b1d3816e.eot);
  src: url(/font/iranyekanwebbold.b1d3816e.eot) format('embedded-opentype'),
    url(/font/iranyekanwebbold.cfb6e26c.woff2) format('woff2'),
    url(/font/iranyekanwebbold.f94d5af0.woff) format('woff'),
    url(/font/iranyekanwebbold.f8bf4bf6.ttf) format('truetype');
}
@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: 800;
  src: url(/font/iranyekanwebextrabold.fdba4f6c.eot);
  src: url(/font/iranyekanwebextrabold.fdba4f6c.eot) format('embedded-opentype'),
    url(/font/iranyekanwebextrabold.9346e9a2.woff) format('woff'),
    url(/font/iranyekanwebextrabold.db249916.ttf) format('truetype');
}
@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: 900;
  src: url(/font/iranyekanwebblack.156be6c9.eot);
  src: url(/font/iranyekanwebblack.156be6c9.eot) format('embedded-opentype'),
    url(/font/iranyekanwebblack.3e7c4cd1.woff) format('woff'),
    url(/font/iranyekanwebblack.48b45e84.ttf) format('truetype');
}
@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: 950;
  src: url(/font/iranyekanwebextrablack.6be229ac.eot);
  src: url(/font/iranyekanwebextrablack.6be229ac.eot)
      format('embedded-opentype'),
    url(/font/iranyekanwebextrablack.40ce9a97.woff) format('woff'),
    url(/font/iranyekanwebextrablack.df9f7150.ttf) format('truetype');
}

* {
  font-family: IRANYekan, sans-serif;
}

.ltr {
  direction: ltr;
}

select {
  background-position: left 0.5rem center;
}
